// This css's are according the google material design suggestion
.custom-padding-short-description {
   margin-top:0px;
   padding-left:16px; 
   padding-right:16px; 
   padding-top:0px;
   padding-bottom:16px;
}

.custom-padding-title {
    padding-top:24px; 
    padding-bottom:0px; 
    padding-right:16px; 
    padding-left:16px;
}

.custom-padding-between-cards {
    padding:4px;
}

.custom-padding-price {
    padding-bottom:0px;
}

.custom-padding-card-button {
    padding-bottom:0px; 
    padding-right:0px;
}