<ul class="menu">
    <li ng-repeat="section in menu.sections" ng-if="!section.hidden">
        <h2 class="menu-heading md-subhead" ng-if="section.type === 'heading'">
            <span ng-if="section.icon" class="{{section.icon}}">&nbsp;&nbsp;</span>{{section.name}}
        </h2>
        <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
        <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
        <ul ng-if="section.children">
            <li ng-repeat="child in section.children" ng-if="!child.hidden">
                <menu-link section="child" ng-if="child.type === 'link'"></menu-link>
                <menu-toggle section="child" ng-if="child.type === 'toggle'"></menu-toggle>
            </li>
        </ul>
    </li>
</ul>