<div layout="column" style="height:100%;" ng-cloak>
    <section layout="row" flex>
        <!--<md-sidenav ng-show="snav.isLoggedIn()" class="md-sidenav-left" md-component-id="left"" md-is-locked-open="$mdMedia('gt-md')"
         md-disable-backdrop md-whiteframe="4">
            <md-toolbar class="md-tall" layout="column">
                <h3 flex="None">Logo</h3>
                <md-list-item flex="auto" class="md-2-line">
                    <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ nav.getCurrentUser().name}}</h3>
                        <h4>{{ nav.getCurrentUser().email}}</h4>
                    </div>
                </md-list-item>
            </md-toolbar>
            <md-content>
                <md-subheader class="md-no-sticky">Opciones</md-subheader>
                <md-list-item ng-click="option.action()" ng-repeat="option in snav.options">
                    <md-icon class="material-icons">{{option.icon}}</md-icon>
                    <p>{{option.name}}</p>
                </md-list-item>
            </md-content>
        </md-sidenav>-->
        <md-sidenav ng-show="snav.isLoggedIn()" class="md-sidenav-left" md-component-id="left" " md-is-locked-open="$mdMedia(
            'gt-md') "
         md-disable-backdrop md-whiteframe="4 ">
         <md-toolbar class="md-tall md-primary" layout="column ">
                <h3 flex="None ">Logo</h3>
                <md-list-item flex="auto " class="md-2-line ">
                    <img ng-src="{{item.face}}?{{$index}} " class="md-avatar " alt="{{item.who}} " />
                    <div class="md-list-item-text " layout="column ">
                        <h3>{{ nav.getCurrentUser().name}}</h3>
                        <h4>{{ nav.getCurrentUser().email}}</h4>
                    </div>
                </md-list-item>
            </md-toolbar>
            <md-content flex role="navigation">
                 <ss-sidenav flex menu="snav.menu"></ss-sidenav>
            </md-content>
        </md-sidenav>
        
        <section layout="row " flex>
            <div layout="column " flex="auto ">
                <navbar></navbar>
                <md-content layout="row " layout-align="center " ui-view flex="100 "></md-content>
            </div>
        </section>
    </section>
</div>