<md-toolbar md-scroll-shrink="true" ng-if="true">
  <div class="md-toolbar-tools">
    <md-button ng-show="nav.isLoggedIn()" ng-click="nav.toggleLeft()" class="md-icon-button" aria-label="Menu">
      <i class="material-icons">menu</i>
    </md-button>
    <a href="/">
      <b>Menu</b>
    </a>
    <span flex></span>
    <md-button ng-hide="nav.isLoggedIn()" class="md-raised" aria-label="Login">
      <a href="login">login</a>
    </md-button>
    <md-button hide-gt-md ng-show="nav.isLoggedIn()" ng-click="nav.toggleRight()" class="md-icon-button" aria-label="More">
      <a class="material-icons" href="">more_vert</a>
    </md-button>
    <md-button ng-hide="nav.isLoggedIn()" class="md-raised" aria-label="Signup">
      <a href="signup">Sign up</a>
    </md-button>
  </div>
</md-toolbar>