<div layout='row' layout-fill layout-align="center center" style="max-width:860px;">
  <!--<header class="hero-unit" id="banner">
  <div>
    <h1 hide-xs>Welcome to MioNio</h1>
    <p hide-xs class="lead">This is a Fullstack app</p>
    <p hide-gt-xs><b>Welcome to MioNio</b></p>
  </div>
</header>-->
  <div layout="column">
    <md-card>
      <md-card-header>
        <md-card-avatar>
          <img class="md-user-avatar" src="img/100-2.jpeg" />
        </md-card-avatar>
        <md-card-header-text>
          <span class="md-title">User</span>
          <span class="md-subhead">subhead</span>
        </md-card-header-text>
      </md-card-header>
      <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">In-card mixed actions</span>
          <span class="md-subhead">Reversed</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="start center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
        <md-card-icon-actions>
          <md-button class="md-icon-button" aria-label="toggle">
            <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
          </md-button>
        </md-card-icon-actions>
      </md-card-actions>
      <md-card-content>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
          Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-header>
        <md-card-avatar>
          <img class="md-user-avatar" src="img/100-2.jpeg" />
        </md-card-avatar>
        <md-card-header-text>
          <span class="md-title">User</span>
          <span class="md-subhead">subhead</span>
        </md-card-header-text>
      </md-card-header>
      <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">In-card mixed actions</span>
          <span class="md-subhead">Reversed</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="start center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
        <md-card-icon-actions>
          <md-button class="md-icon-button" aria-label="toggle">
            <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
          </md-button>
        </md-card-icon-actions>
      </md-card-actions>
      <md-card-content>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
          Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-header>
        <md-card-avatar>
          <img class="md-user-avatar" src="img/100-2.jpeg" />
        </md-card-avatar>
        <md-card-header-text>
          <span class="md-title">User</span>
          <span class="md-subhead">subhead</span>
        </md-card-header-text>
      </md-card-header>
      <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">In-card mixed actions</span>
          <span class="md-subhead">Reversed</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="start center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
        <md-card-icon-actions>
          <md-button class="md-icon-button" aria-label="toggle">
            <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
          </md-button>
        </md-card-icon-actions>
      </md-card-actions>
      <md-card-content>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
          Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-header>
        <md-card-avatar>
          <img class="md-user-avatar" src="img/100-2.jpeg" />
        </md-card-avatar>
        <md-card-header-text>
          <span class="md-title">User</span>
          <span class="md-subhead">subhead</span>
        </md-card-header-text>
      </md-card-header>
      <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">In-card mixed actions</span>
          <span class="md-subhead">Reversed</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="start center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
        <md-card-icon-actions>
          <md-button class="md-icon-button" aria-label="toggle">
            <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
          </md-button>
        </md-card-icon-actions>
      </md-card-actions>
      <md-card-content>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
          Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </md-card-content>
    </md-card>

    <md-card md-theme-watch>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Card with image</span>
          <span class="md-subhead">Large</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-lg card-media"></div>
        </md-card-title-media>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        here is the some content I dont know
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
      </md-card-actions>
    </md-card>

  </div>



</div>

<!--<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>-->



<!--<form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="$ctrl.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>-->